@import "./colors";
@import "./vars";


.pwd-val {
    ul {
        padding-left: 3vw;
    }
}

.form-container {
    margin-top: 20vh;
}


input:not([type=range]),
textarea, select {
  background-color: $color-dark-0 !important;
  //color: $color-blue;
  color: $color-white-2 !important;
  border: 2px solid $color-dark-1 !important;
  &:disabled{
    opacity: .7 !important;
  }
  &::placeholder {
    opacity: 0.7 !important;
    font-size: 0.9rem;
  }
}

  .form-group{
    width: 100%;
  
}