@import "@material-design-icons/font";
@import './colors';
@import './vars';
body, html {
    font-family: var(--font-family);
   padding: 0;
   margin: 0;
} 

header{
    .nav{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nav-item{
        border-radius: 5px;
        padding: 7px;
        &:hover{
            background-color: $color-card-0;
        }
    }
    nav{
        height: 65px;
        justify-content: space-between;
        border-bottom: $card-border;
        *{
            color: $color-white-2;
            text-decoration: none;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}