@import "./colors";
@import "./forms";
@import "./vars";
@import "./classes";
@import "@material-design-icons/font";

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

html,
body,
.__nuxt-error-page,
#__nuxt {
    padding: 0;
    margin: 0;
    background-color: $color-card !important;
    color: $color-white-1 !important;
    font-family: Poppins, sans-serif;
    * {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            //background-color: #6666;
            height: 2px !important;
            width: 2px !important;
        }
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            //background-color: #6666;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-orange;
        }
    }
}

.card {
    @apply block max-w-sm p-2 border border-gray-200 rounded-lg shadow   dark:border-gray-700;
}

.sidebar {
    @apply relative top-0 left-0 z-40 bg-body;
    border-right: $card-border;
    width: $sidenav-w;
    height: calc(100vh - $sidenav-w);
    .content {
        @apply h-full px-3 py-4 overflow-y-auto _flex _jc-sb;

        ul{
           @apply flex flex-col ;
          
           &:first-child{
            flex: auto
           }
        }
        .bar-item {
            @apply flex p-1  items-center  rounded-lg;
            * {
                font-size: 30px;
            }
            color: $color-white-3;
            &:hover {
                background-color: $color-dark-0;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .sidebar {
        position: fixed !important;
        width: 100% !important;
        height: $sidenav-w !important;
        bottom: -2px !important;
        left: 0;
        top: unset !important;
        align-items: center !important;
        border-top: $card-border;
    .content, ul{
        flex-direction: row !important;
        justify-content: space-between;
    }
    .hide-sm{
            display: none !important; 
    }

    }
}

header {
    nav {
        @apply fixed w-full z-50 bg-body;
        height: $sidenav-w;
        border-bottom: $card-border;
    }
}

main,
.sidebar {
    position: relative;
}

main {
    overflow-y: scroll;
    flex: 1;
}

.tu-app {
    position: relative;
    top: calc($sidenav-w);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: calc(100vh - $sidenav-w);
}

.drawer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: $color-overlay;
    display: none;
    transition: all 5s ease;
    &.right {
        right: 0;
    }
    .content {
        transition: all 5s ease;
        @apply w-300px flex flex-col;

        height: 100%;
        position: absolute;
        right: 0;
        background-color: $color-card;
        box-shadow: -1px 0 2px 2px $color-overlay;
        transform: translateX(300px);
    }

    .drawer-body{
       @apply flex flex-col _jc-sb;
       flex: auto;

    }

    &.open {
        display: block;
        .content {
            transform: translateX(0);
        }
    }
}

.drawer-item{
    @apply flex items-center p-2 rounded-lg hover-card-0 gap-15 my-2;
    *{
        color: $color-white-2
    }
}


.txt-brand{
    @apply self-center text-2xl font-semibold whitespace-nowrap;
}


.router-link-active{
    color: $color-orange;
}

fieldset{
    border-radius: 10px; 
    &.fieldset{
        border-color: $color-card;
        border-width: 4px;
         padding: 20px;
         &:not(.no-el){box-shadow: 0px 1px 2px rgb(14, 14, 14);}
         legend{
             font-weight: bold !important;
             letter-spacing: 2px;
             width: auto;
             padding: 5px;
         }
     }
}


.floating-field{
    @extend .drawer
} 