@import "./colors";
@import "@material-design-icons/font";
html, body, .__nuxt-error-page, #__nuxt{
    padding: 0;
    margin: 0;
    background-color: $color-card !important;
    color: $color-white-1 !important
}

label{
    //background-color: $color-card !important;
    @apply bg-gray-800;
}